<p-table [columns]="columns" [value]="data" [tableStyle]="{ 'min-width': '50rem' }" showGridlines
    [paginator]="isPaginator" [rows]="rowsLimit">
    <ng-template #header let-columns>
        <tr>
            <!-- <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.sorting ; else nonSort">
                    <th> {{ col.header }}</th>
                </ng-container>
            </ng-container> -->

            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.sorting ; else nonSort">
                    <th pSortableColumn="col.name"> {{ col.header }} 
                        <p-sortIcon field="col.name" />
                    </th>

                </ng-container>
                <ng-template #nonSort>
                    <th> {{ col.header }}</th>
                </ng-template>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{ rowData[col.name] }}
            </td>
        </tr>
    </ng-template>
</p-table>